button {
    border: none;
    background: none;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 2px;
/*    e8e6e2*/
    color: #908e96;
}


button:hover {
/*    border-radius: 100px;*/
/*    background: #232326;*/
    color: #e8e6e2;

}

button:active {
/*    border-radius: 100px;*/
/*    background: #fff;*/
    color: #ab9ff2;
}

svg {
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -5px;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}